<div class="row">
    <ul class="list-group">
        <li class="list-group-item">Produto: <b><%= produto %></b></li>
        <li class="list-group-item">Lote: <b><%= lote %></b></li>
        <li class="list-group-item">Sacas Disponiveis: <b><%= saldo %></b></li>
        <li class="list-group-item">Sacas Empenhadas: <b><%= empenhado %></b></li>
        <li class="list-group-item">QTD(TL): <b><%= toneladas %></b></li>
    </ul>
</div>
<div class="row mt-3">
    <div class="col">
        <button class="btn btn-success" id="btn_consultar" onclick="location.href='https://5ac9-187-18-103-210.sa.ngrok.io/app/saldoporlote'">Consultar novamente</button>
    </div>
</div>
<style>
    .list-group{
        font-size: large;
    }
    #btn_consultar{
        width: 100%;
    }
</style>